/** author information */
/* sms */
.kreacjawww {background-color: #fff;  padding: 4px;}
.kreacjawww span {background: url('images/16_poland.png') no-repeat left center; padding-left: 20px;}
/**
table
*/
#part_revisions_tabcontents {}
#parts_list_page_container {overflow-y: scroll; height: 150px;}
#djg_poll_list {width: 100%;}
#djg_poll_list td { background: none; cursor: default; padding: 5px 0;}
#djg_poll_list thead td { background-color: #414551; color: #fff;}
#djg_poll_list tr.odd td { background-color: #eee; }
#djg_poll_list tr.even td { background-color: #ddd; }
#djg_poll_list tr.deleted td { color: #888; }
#djg_poll_list tbody tr .dateabsolute {display: none;}
#djg_poll_list tbody tr:hover td{background-color: #bec5cc;}
#djg_poll_list tbody tr:hover td .daterelative {display: none;}
#djg_poll_list tbody tr:hover td .dateabsolute {display: block;}
#djg_poll_list tbody tr .actions_wrapper {visibility: hidden;}
#djg_poll_list tbody tr:hover td .actions_wrapper {visibility: visible;}

#djg_poll_list tbody tr .date_1 {visibility: visible; display:inline;}
#djg_poll_list tbody tr:hover td .date_1 {visibility: hidden; display:none;}
#djg_poll_list tbody tr .date_2 {visibility: hidden; display:none;}
#djg_poll_list tbody tr:hover td .date_2 {visibility: visible; display:inline;}

#djg_poll_list td {padding: 5px 10px;}
#djg_poll_list td.actions{ text-align: right; width: 120px; }
#djg_poll_list td.size { text-align: right; width: 60px; }
#djg_poll_list td.name,
#djg_poll_list td.updated_by { width: 120px; }
#djg_poll_list td.date { width: 160px; text-align: center; }
#part-revision-preview-dialog,
#part-revision-diff-dialog {width: 90%;}
#part-revision-preview-dialog content,
#part-revision-diff-dialog content {width: 100%; position: relative;}
#part-revision-preview-code,
#part-revision-preview-diff {font-family:monospace; width: 100%; height: 400px; overflow-y: scroll; border: 1px solid #ccc;}

del.deletion {color: red; background: #fcc; border: 1px solid #a66; text-decoration: none;}
ins.insertion {color: green; font-weight: bold; background: #cfc; border: 1px solid #6a6; text-decoration: none;}

/**
* buttons
*/
.clear_date {cursor: pointer;  line-height: 16px; background: url('images/16_clock_delete.png') no-repeat left center; display: inline-block; padding-left: 18px;}
.clear_date:hover {color: red;}
.now_date {cursor: pointer;  line-height: 16px; background: url('images/16_clock_add.png') no-repeat left center; display: inline-block; padding-left: 18px;}
.now_date:hover {color: green;}

/* DateTimeEntry styles v1.1.0 */
.datetimeEntry_control {
	vertical-align: middle;
	margin-left: 2px;
}
* html .datetimeEntry_control { /* IE only */
	margin-top: -4px;
}